/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

    ** Custom Stylesheet **

    Pipiasi Bogdan. https://pipiasibogdan.ovh;
    If you want to use this file just copy the link:
      https://raw.githubusercontent.com/DemOnJR/whmcs-dark/master/custom.css
    ;
    or download it and update the file every day.

    Tools used:
    1. https://cssgradient.io/
    ;

***************************************************** */
body {
  font-family: Roboto,sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(224,232,255,.8);
  background: linear-gradient(135deg,#051866,#021038 80%);
}

a {
  color: #fff;
}

a:focus, a:hover {
  color: #fff;
  text-decoration: underline;
}

/*
#########################################################
  NAVBAR
#########################################################
*/

section#header {
  margin: 0;
  padding: 10px 0;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid rgba(224, 232, 255, .078);
  background: linear-gradient(135deg, #051866, #021038 80%);
}

/* FIRST */
ul.top-nav > li > a {
  padding: 6px 10px;
  color: #fff;
  line-height: 20px;
  text-decoration: none;
}

ul.top-nav > li:active > a, ul.top-nav > li:focus > a, ul.top-nav > li:hover > a, ul.top-nav > li > a:focus {
  color: #fff;
  text-decoration: none;
  background: 0 0;
}

.popover-user-notifications {
  border-radius: 0;
  padding: 0;
  border-color: #ddd;
  min-width: 310px;
  font-family: 'Open Sans',sans-serif;
}

.popover-user-notifications ul li.none {
  padding: 12px 0;
  min-height: auto;
  text-align: center;
  font-weight: 700;
  background: linear-gradient(270deg,#081e6e,#0e2475);
}
/* END */

/* SECOND */
.navbar {
  border-radius: 0px;
}

.navbar-main {
  margin-bottom: 0;
  background: linear-gradient(90deg,#011a62,#0940b3);
  border: 0;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  min-height: 38px;
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
}
.navbar-main .navbar-nav > .active > a, .navbar-main .navbar-nav > .active > a:focus, .navbar-main .navbar-nav > .active > a:hover, .navbar-main .navbar-nav > .open > a, .navbar-main .navbar-nav > .open > a:focus, .navbar-main .navbar-nav > .open > a:hover, .navbar-main .navbar-nav > li > a:focus, .navbar-main .navbar-nav > li > a:hover {
  color: #eee;
  background-color: rgba(224,232,255,.08);
}

.navbar-main li.account {
  background-color: rgba(224,232,255,.08);
}
/* END */

/* DROPDOWN */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  margin-top: 2px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-top-color: rgba(0, 0, 0, 0.15);
  border-top-style: solid;
  border-top-width: 1px;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background: linear-gradient(270deg, #081e6e, #0e2475);
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: rgba(224,232,255,.64);
  white-space: nowrap;
}

.navbar-main .navbar-nav .dropdown-menu > .active > a, .navbar-main .navbar-nav .dropdown-menu > .active > a:focus, .navbar-main .navbar-nav .dropdown-menu > .active > a:hover, .navbar-main .navbar-nav .dropdown-menu > .open > a, .navbar-main .navbar-nav .dropdown-menu > .open > a:focus, .navbar-main .navbar-nav .dropdown-menu > .open > a:hover, .navbar-main .navbar-nav .dropdown-menu > li > a:focus, .navbar-main .navbar-nav .dropdown-menu > li > a:hover {
  color: #fff;
  background-color: rgba(224,232,255,.08);
}
/* END */

/*
#########################################################
  CONTAINER
#########################################################
*/
section#main-body {
  margin: 0;
  padding: 20px 0;
  min-height: 350px;
  background: linear-gradient(135deg,#051866,#021038 80%);
}

/*
#########################################################
  FOOTER
#########################################################
*/
section#footer {
  margin: 0;
  padding: 20px 10px;
  border-top: 1px solid #ddd;
  color: #666;
  font-size: .9em;
  border-top: 1px solid rgba(224,232,255,.078);
  background: linear-gradient(90deg,#011a62,#0940b3);
  /* sticky fixed bottom */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
/* END */





.home-kb-search .form-control {
  padding-left: 50px;
  border: 0px solid #eee;
  color: #fff;
  font-weight: 300;
  background-color: rgba(224,232,255,.08);
}


#registration .field, #registration .form-control {
  position: relative;
  vertical-align: top;
  border: 1px solid #ddd;
  display: -moz-inline-stack;
  display: inline-block;
  color: #626262;
  outline: 0;
  background: #000;
  height: 36px;
  width: 100%;
  border-radius: 3px;
  font-size: 13px;
}


/*
#########################################################
  PANELS
#########################################################
*/

.panel {
  margin-bottom: 20px;
  border: 0px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.08);
  background: linear-gradient(90deg,#011a62,#0940b3);
}

.panel-default > .panel-heading {
  color: #fff;
  background-color: #f5f5f5;
  border-color:#ddd;
  border-bottom-color: rgb(221, 221, 221);
}

.panel-sidebar > .panel-heading {
  color: #fff;
  border-bottom: 0;
  background: linear-gradient(90deg,#011a62,#285dcc);
}

.panel-sidebar .panel-title {
  font-size: 1.1em;
  font-weight: 300;
  font-family: 'Open Sans',sans-serif;
  line-height: 26px;
  color: #fff;
}

.panel-footer {
  padding: 10px 15px;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: linear-gradient(90deg,#011a62,#285dcc);
}

.panel-sidebar > .panel-footer {
  color: #fff;
  border-top: 0;
  background: linear-gradient(90deg,#011a62,#285dcc);
}

/*
 Preview:https://i.imgur.com/E3uq8c3.png;
*/
.client-home-panels .panel > .panel-heading {
  border-bottom: 0;
  font-weight: 700;
  background: linear-gradient(90deg,#011a62,#285dcc);
}

.client-home-panels .panel > .panel-heading .panel-title .btn {
  color: #000;
  border: 0;
}


/*
#########################################################
  SIDEBAR LEFT
#########################################################
*/
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid #ddd;
  background-color: rgba(0,0,0,.1);
}

a.list-group-item, button.list-group-item {
  color: #fff;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: rgba(224,232,255,.08);
}

.panel-sidebar a.list-group-item:hover i.far, .panel-sidebar a.list-group-item:hover i.fas {
  color: #fff !important;
}

.panel-sidebar.view-filter-btns .list-group-item.active, .panel-sidebar.view-filter-btns .list-group-item.active:focus, .panel-sidebar.view-filter-btns .list-group-item.active:hover {
  background-color: rgba(224,232,255,.08);
  border-color: #eee;
  color: #fff;
}

.panel-sidebar a.list-group-item.active, .panel-sidebar a.list-group-item.active:focus, .panel-sidebar a.list-group-item.active:hover {
  background-color: rgba(224,232,255,.08);
  border-color: #465054;
  border-bottom-color: rgb(70, 80, 84);
}

/*
  Preview:https://i.imgur.com/51iNnlh.png;
*/
.list-group-item .badge {
  background-color: transparent;
  color: rgba(224,232,255,.8);
}

/*
#########################################################
  CLIENT AREA AFTER LOGIN
#########################################################
*/

/* tiles (services,quotes,tickets,invoices) */
.tile .title {
  font-weight: 700;
  color: rgba(224,232,255,.8);
  text-transform: uppercase;
  font-size: 12px;
}

.tiles .tile {
  color: rgba(224,232,255,.8);
  padding: 12px 20px;
  border-right: 1px solid #ccc;
  background-color: rgba(5,108,234,.08);
}

.tiles .tile:hover {
  background-color: rgba(5,108,234,.16);
  cursor: pointer;
}
/* END */

/*
#########################################################
  ORDER SUMMARY
  Preview:;
#########################################################
*/
.domain-renewals {
  margin: 10px 0;
  border-top: 1px solid #ccc;
  background: rgba(5,108,234,.078);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.08);
  padding: 5px;
}

#order-standard_cart .summary-container {
  margin: 0;
  padding: 10px;
  min-height: 100px;
  border-radius: 3px;
  font-size: .8em;
  background: linear-gradient(90deg,#011a62,#0940b3);
}

#order-standard_cart .order-summary {
  margin: 0 0 20px 0;
  padding: 0;
  background-color: #666;
  border-bottom: 0px solid #666;
  border-radius: 4px;
  background: linear-gradient(90deg,#011a62,#285dcc);
}

/*
#########################################################
  TABELS
  Preview:https://i.imgur.com/NV1k93W.png;
#########################################################
*/
.dataTables_wrapper .dataTables_info {
  margin: 0;
  padding: 9px 10px;
  background: rgba(5,108,234,.08);
  border: 0;
  border-bottom: 1px solid #fff;
  font-size: .9em;
  color: #fff;
  border-radius: 0;
  text-align: left !important;
}

table.table-list thead th {
  padding: 5px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  color: #fff;
  text-align: left;
}

.dataTables_wrapper .dataTables_filter label .form-control {
  color: #fff;
  background-color: rgba(224,232,255,.08);
  background-image: none;
  padding: 7px 10px 7px 5px !important;
  border: 0px solid #fff;
  height: auto;
  width: 200px;
  font-size: 13px;
  border-radius: 2px;
}

table.table-list thead th {
  padding: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  background: rgba(5,108,234,.08);
  border-bottom: 1px solid #ccc;
  color: #fff;
  text-align: left;
}

.dataTables_wrapper table.table-list thead th.sorting_asc, .dataTables_wrapper table.table-list thead th.sorting_desc {
  background: rgba(5,108,234,.08);
}

.table-list > tbody > tr > td {
  background: rgba(5,108,234,.08);
  box-shadow: 0 8px 16px 0rgba(0,0,0,.08);
}

.dataTables_wrapper .dataTables_length {
  font-size: .8em;
  color: #888;
  background: rgba(5,108,234,.08);
}
/* END */

/*
#########################################################
  TEXTS
#########################################################
*/

/*
 Preview:https://i.imgur.com/7QaVavo.png;
*/
div.header-lined h1 {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 6px 0;
  border-bottom: 1px solid #ccc;
  font-weight: 400;
  color: #fff;
}
div.header-lined .breadcrumb li a {
  color: rgba(224,232,255,.8);
}
div.header-lined .breadcrumb > .active {
  color: rgba(224,232,255,.48);
}

/*
#########################################################
  BUTTONS
#########################################################
*/

/*
  Preview:https://i.imgur.com/ag6sdbj.png;
*/
ul.top-nav > li.primary-action > a.btn {
  padding: 6px 15px;
  color: #fff;
  border-radius: 3px;
  background-color: #1062fe;
}














.marketing-email-optin {
  margin: 0 0 20px 0;
  padding: 10px 20px 20px;
  background-color: #000d;
  border-radius: 3px;
}
